{{#if result}}
<header id="rsvp-row">
	<p>{{result.merge_fields.NAME}},</p>
	<p>Come celebrate the union of </p>
	<h1 id="header">Natalie & Ludwig</h1>
	<p>9 December 2017</p>
	<p><a class="hidden-link" href="http://maps.apple.com/?daddr=-36.9950,174.7940">Abbeville Estate, Auckland, NZ</a></p>
	<hr />
	<p>Ceremony starts at 3:30pm</p>
	<p>Dinner and dancing follows.</p>

	{{#if hasRSVP}}
		</header>
		<footer>
			<a id="dietary" href="#rsvp-row"></a>
			{{#if RSVP}}
				<div>We’re expecting {{result.merge_fields.COUNT}} of you. {{#> regret}}But {{pluralize result.merge_fields.COUNT "I" "we"}}  can’t come.{{/regret}}</div>
			{{else}}
				<p id="rsvp-row">We think you aren’t coming. {{#> accept_start}}{{pluralize result.merge_fields.COUNT "I" "We"}}  can now!{{/accept_start}}</p>
				{{> accept_end}}

			{{/if}}

	{{else}}
		<a id="dietary" href="#rsvp-row"></a>
		<div> RSVP 
			{{#> accept_start}}Count {{pluralize result.merge_fields.COUNT "me" "us"}} in!{{/accept_start}}
			{{#> regret}}{{pluralize result.merge_fields.COUNT "I" "We"}}’ll celebrate from afar{{/regret}}
		</div>
			{{> accept_end}}

		</header>
	<footer>
	{{/if}}
{{else}}
<header>
	<p>Celebrate the union of</p>
	<h1 id="header">Natalie & Ludwig</h1>
	<p>9 December 2017</p>
	<p>Auckland, NZ</p>
	<hr />
	<p>Please follow the link in your email to RSVP.</p>
	<form method="POST" action="/login">
		<input type="email" name="email" /><button type="submit" class="button">Send again</a>
	</form>
</header>
{{/if}}

{{#if result}}
    {{> info}}
</footer>
{{/if}}
