<header>
	<h1>Tables</h1>
	<ul class="tables">
		{{#each TABLES}}
		<li class="table">
			<h3 class="table-name">{{Name}}</h2>
			<p class="table-count">{{Count}}</p>
			<hr>
		</li>
		{{/each}}
	</ul>
</header>
<footer>
	<h1>Who’s coming, or not</h1>
	<p><a class="button" href="#notify">Update Notification Settings</a></p>
	<hr>

	<div id="rsvps" class="members">
		<div class="coming">
			<h1>{{COMING}}</h1>
			<h2>Coming</h2>
			<hr>
			<ul>
			{{#each coming}}
					<li>
						<h3><a class="hidden-link" href="/?token={{Token}}&email={{Email}}"><i class="fa fa-check"></i> {{Name}}</a></h3>
						<p><strong>{{Table}}</strong>{{#Dietary}}—{{.}}{{/Dietary}}</p>
					</li>
			{{/each}}
			</ul>
		</div>
		<div class="not_coming">
			<h1>{{NOT_COMING}}</h1>
			<h2>Not Coming</h2>
			<hr>
			<ul>
			{{#each not_coming}}
					<li>
						<h3><a class="hidden-link" href="/?token={{Token}}&email={{Email}}"><i class="fa fa-close"></i> {{Name}}</a></h3>
						<p>{{Dietary}}</p>
					</li>
			{{/each}}
			</ul>
		</div>
		<div class="waiting">
			<h1>{{WAITING}}</h1>
			<h2>Waiting</h2>
			<hr>
			<ul>
			{{#each waiting}}
					<li>
						<h3><a class="hidden-link" href="/?token={{Token}}&email={{Email}}"><i class="fa fa-clock-o"></i> {{Name}}</a></h3>
						<p>{{Dietary}}</p>
					</li>
			{{/each}}
			</ul>
		</div>
	</div>

	<a href="#rsvps" id="notify"></a>
	<form id="notification-settings" name="notify" action="/update-notify" method="POST">
		<div class="notify-wrapper">
		<h1>Notify me!</h1>
			<h2>Send Notification Emails</h2>
			<input type="hidden" value="{{webhook.id}}" name="WebhookID"/>
			<input type="hidden" value="{{token}}" name="token" />
			<label for="Status"><input type="checkbox" {{#if webhook.active}}checked{{/if}} name="Status" id="Status"/> Notify these people when RSVPs update:</label>
			{{#if notifyAdmin}}
			<p class="notify-admin"><i class="fa fa-user-secret"></i> Admins are set to get notifications.</p>
			{{/if}}
			<div class="members">
				<ul>
					{{#each notify}}
						<li><h3><i class="fa fa-user{{#if isAdmin}}-secret{{/if}}"></i>
							{{Name}}</h3>
							<p>{{EmailAddress}}<p></li>
					{{/each}}
				</ul>
			</div>
			<hr  />
		<p><button class="button" type="submit">Save</button></p>
		</div>
	</form>

</footer>
